// element dimensions
$small: 768px;
$large: 1200px;
$gutter: 1.5rem;
$checkboxContentSize: 1.2rem;

// font
$textStandard: 1.5rem;

// colors
$googleGreen: #c1ebb0;
$googleBlue: #99b3cc;
$googleCream : #f2f2f2;

$primary: lightblue;
$secondary: green;
$light: #eaeaea;
$dark: darkgrey;
$veryDark: #1b1c1d;
$danger: red;
$warning: orange;
$info: gold;
$success: limegreen;

// shadow
$boxShadow: 2px 3px 5px 2px #8b8b8b;
